div.pos-f-t
  div.collapse#navbarToggleExternalContent
    div.bg-dark.p-4
      h5.text-white.h4 Pro-social Community Services
      span.text-muted We provide inidivuals an opportunity for self-actualization with like minded peers through pro-social activies.
      br
      br
      h4.text-white.h5 The 
        em Experience:
      p.text-white.h7.
        • Has someone ever over delivered something so simple or small for you that in the moment it meant the world?
      p.text-white.h7.
        • A simple question, a simple answer, some small or large act of some kind that it created a moment.  A moment that became a treasure to be felt, cherished and remembered for days, weeks, months or years later.
      p.text-white.h7 • This is called the 
        em Experience.
      p.text-white.h7.
        • Have you ever done something so simple or small for someone, yet it seem to light up their world in that moment?
      p.text-white.h7.
        • And in that moment it brightened your world as much or more?
      p.text-white.h7 • This too is the 
        em Experience.


  nav.navbar.navbar-dark.bg-dark
    button.navbar-toggler.text-white(type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
      span &nbsp The Experience
    span
      img( src="/assets/images/logos/facebook.png" width=25)
      span &nbsp
      img( src="/assets/images/logos/twitter.png" width=25)
      span &nbsp
      img( src="/assets/images/logos/instagram.png" width=40)

