extends layout.pug

block append section 

  div.container-fluid

    div.jumbotron
      if memberhip_role === "Dreamweaver" || membership_role === 'Project Manager' || admin_role !== "Inactive" 
        div.d-flex.justify-content-center
          a(href="/image/" + id)
            img(src="/assets/images/logos/animateLogoLinks.svg" alt="logo" height= 200)
            //- img(src="/assets/images/logos/logo_Jumbotron1.jpg" alt="logo" height= 200)
        div.d-flex-column.align-items-center 
          div.d-flex.justify-content-center.mt-3
            a(href="http://localhost:3010")
              h2.display Transcendence
          div
            //- h3.display-5
            //-   a(href="/phoenicia/" + id) Phoenicia 
            p.lead Transcendent Spiritualists   
            p Dreamweavers that seek spiritual development are invited to join the Transcendents. 
      else 
        div.d-flex-column.align-items-center
          div.d-flex.justify-content-center.mt-3
            h1.display-4 Special Projects Area 
          div.d-flex.justify-content-center.mt-3
            p.lead For Deamweavers only 