extends layout.pug

block append section 

  div.container-fluid

    div.jumbotron

      h1.display-5 Welcome to the Dreamweaver Project
      h1.display-4 Phase I
      
      p.lead Dreamweaver Teams provide pro-social 
        em Experiences 
        span for each other and the communities they serve.
      hr.my-4

      p.lead We are a pro-social community facilitating self-actualization through service to others 
      
      p The 
        em Experience: 
        span  the purpose of our service 
        ul 
          li To create a feeling of being seen 
          li To create a feeling of being welcomed 
          li To create a sense of belonging

      p There are four phases to the Dreamweaver Project: 
        ul 
          li Phase I: Limited to Arizona residents only
            ul 
              li Limited to first 1,000 (first twelve months) 
              li Limited to first 10,000 (second year activation) 
              li Limited to first 1M (third year activation) 
              li Unlimited (after third year activation) 
          li Phase II: Open to pacific states (CA, OR, WA) by project (state) listing, and resident of project state
            ul 
              li Limited to first 1,000 of project activation (first twelve months of activation) 
              li Limited to first 10,000 (second year activation) 
              li Limited to first 1M (third year activation) 
              li Unlimited (after third year activation) 
          li Phase III: Open to all United States of America by project (state) listing, and resident of project state
            ul 
              li Limited to first 1,000 of project activation (first twelve months of activation) 
              li Limited to first 10,000 (second year activation) 
              li Limited to first 1M (third year activation) 
              li Unlimited (after third year activation) 
          li Phase IV: Open internationally by project (country) listing, and resident of project country.
            ul 
              li Limited to first 1,000 of project activation (first twelve months of activation) 
              li Limited to first 10,000 (second year activation) 
              li Limited to first 1M (third year activation) 
              li Unlimited (after third year activation) 
      br
      div
        a.btn.btn-primary.btn-lg(href="/loginMember") Login

        a.btn.btn-primary.btn-lg(href="registerMember") Register
        
        br
        a.btn.btn-primary.btn-lg(href="seed/install") Installation (Remove after installation)
      
      p If this is your first visit please register to enter.


  